@media only screen and (max-width: 799px) {
    .references-link {
        font-size: 4vw;
        font-weight: 700;
        color: #fefefe;
        text-decoration: none;
        text-align: left;
    }
    .references-title {
        font-size: 2.5vw;
        font-weight: 700;
        color: #fefefe;
        text-align: center;
    }
    .references-container {
        color: white;
        font-size: 5vw;
        font-weight: 200;
        text-align: left;
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media only screen and (min-width: 800px) {
    .references-link {
        font-size: 1vw;
        font-weight: 700;
        color: #fefefe;
        text-decoration: none;
        text-align: left;
    }
    .references-title {
        font-size: 1.25vw;
        font-weight: 700;
        color: #fefefe;
        text-align: center;
    }
    .references-container {
        color: white;
        font-size: 1.25vw;
        font-weight: 200;
        text-align: left;
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.references-link:hover {
    color: #e56b6f;
  }